{% cva_component 'banner' with {
    bannerClass: bannerClass|default(''),
    bannerImage: bannerImage|default(null),
    bannerAlt: bannerAlt|default('Banner'),
    imageClass: imageClass|default(''),
    overlayClass: overlayClass|default(''),
    contentClass: contentClass|default(''),
    bannerSmallText: bannerSmallText|default(null),
    smallTextClass: smallTextClass|default(''),
    bannerTitle: bannerTitle|default(null)
} %}
    <div class="{{ ['banner-container', bannerClass]|tailwind_merge }}">
        {% if bannerImage %}
            <img src="{{ bannerImage }}" alt="{{ bannerAlt }}" class="{{ ['main-banner', imageClass]|tailwind_merge }}"/>
        {% endif %}
        <div class="{{ ['banner-overlay', overlayClass]|tailwind_merge }}">
            <div class="{{ ['banner-content', contentClass]|tailwind_merge }}">
                {% if bannerSmallText or bannerTitle %}
                    <h1>
                        {% if bannerSmallText %}<span class="{{ ['banner-small-text', smallTextClass]|tailwind_merge }}">{{ bannerSmallText }}</span><br>{% endif %}
                        {{ bannerTitle }}
                    </h1>
                {% endif %}
                {% block banner_extra %}{% endblock %}
            </div>
        </div>
    </div>
{% endcva_component %}
