{% set content = pimcore_wysiwyg('content', {
    'placeholder': 'Enter your content here...'
}, 'Test') %}

<twig:EditableContainer>
    <section class="area-wysiwyg">
        {% apply pimcore_glossary %}
            {{ content|raw }}
        {% endapply %}
    </section>
</twig:EditableContainer>