{% set defaultGridItems = defaultGridItems|default(2) %}
{% set gridItemCountPrompt = gridItemCountPrompt|default('How many grid elements?') %}
{% set selectStore = [] %}
{% for i in 2..10 %}
    {% set selectStore = selectStore|merge([i]) %}
{% endfor %}

{% set gridItemsSelect = pimcore_select('gridItems', {
    store: selectStore,
    reload: true,
    width: 70
}) %}

{% if editmode and gridItemsSelect.isEmpty() %}
    {% do gridItemsSelect.setDataFromEditmode(defaultGridItems) %}
    {% set variantValues = variantValues|default(variantValues) %}
{% endif %}

{% set gridItems = gridItemsSelect.getData()|default(defaultGridItems) %}

{% if editmode %}
    <div class="flex items-center gap-2">
        <span>{{ gridItemCountPrompt }}</span> {{ gridItemsSelect|raw }}
    </div>
{% endif %}

<twig:Layout:Grid :variantValues="variantValues" :additionalClasses="additionalClasses">
    {% for i in 0..(gridItems - 1) %}
        {{ pimcore_area('content' ~ i, {
            'type': gridType|default('box')
        }) }}
    {% endfor %}
</twig:Layout:Grid>