{#<div class="checkout-step-footer">#}
{#    {% if prev_step is defined %}#}
{#        <button class="btn-secondary" type="submit" data-prev-step="{{ prev_step }}">{{ prev_text|default('Back') }}</button>#}
{#    {% endif %}#}
{#    {% if next_step is defined %}#}
{#        <button class="btn-primary" type="submit" data-next-step="{{ next_step }}">{{ next_text|default('Continue') }}</button>#}
{#    {% endif %}#}
{#</div>#}