{% extends '/checkout/checkout.html.twig' %}

{% block checkout_step %}
    <section class="checkout-step-panel is-active" data-step="payment">
        {% for paymentMethod in form.paymentMethodCode  %}
        <article class="card">
            {{ form_widget(paymentMethod) }}
            <span>{{ paymentMethod.vars.label }}</span>
        </article>
        {% endfor %}
    </section>
{% endblock %}