{% extends '/checkout/checkout.html.twig' %}

{% block checkout_step %}
    <section class="checkout-step-panel is-active" data-step="review">
        <article class="card">

        </article>
    </section>
{% endblock %}
