{% set labelEditable = pimcore_input('label', { width: 220 }) %}
{% set valueEditable = pimcore_input('value', { width: 180 }) %}
{% set resolvedLabel = labelEditable.getData()|default('Label') %}
{% set resolvedValueRaw = valueEditable.getData()|default('') %}
{% set resolvedValue = resolvedValueRaw is empty ? 'on' : resolvedValueRaw %}

{% if editmode %}
    <div class="mb-2 flex items-center gap-2">
        <span class="text-xs text-gray-600">Label</span> {{ labelEditable|raw }}
    </div>
{% else %}
    <twig:Form:Checkbox
        :variantValues="variantValues"
        :additionalClasses="additionalClasses"
        :name="name"
        :value="resolvedValue"
        :label="resolvedLabel"
        :checked="checked"
        :disabled="disabled"
    />
    <span class="text-xs text-gray-600">Value</span> {{ valueEditable|raw }}
{% endif %}
