{% macro h1(text) %}
    <h1 class="text-4xl md:text-6xl font-bold leading-tight">{{ text|raw }}</h1>
{% endmacro %}

{% macro h2(text) %}
    <h2 class="text-3xl md:text-5xl font-semibold">{{ text|raw }}</h2>
{% endmacro %}

{% macro h3(text) %}
    <h3 class="text-xl md:text-2xl font-medium">{{ text|raw }}</h3>
{% endmacro %}

{% macro p(text) %}
    <p class="text-base md:text-lg leading-relaxed">{{ text|raw }}</p>
{% endmacro %}
