<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 {{ class|default('') }}">
    <div class="col-span-1">
        {{ leftColumn|raw }}
    </div>
    <div class="col-span-1">
        {{ centerColumn|raw }}
    </div>
    <div class="col-span-1">
        {{ rightColumn|raw }}
    </div>
</div>
