imports:
    - { resource: 'local/' }
    - { resource: 'database.yaml' }

pimcore_open_search_client:
    clients:
        default:
            hosts: ['http://opensearch:9200']
            password: '%env(OPENSEARCH_INITIAL_ADMIN_PASSWORD)%'
            username: 'admin'
            ssl_verification: false

pimcore_generic_data_index:
    index_service:
        client_params:
            client_name: default

pimcore_studio_backend:
    mercure_settings:
        jwt_key: '%env(MERCURE_JWT)%'
        hub_url_client: 'http://localhost/hub'
        hub_url_server: 'http://mercure/.well-known/mercure'

pimcore_data_hub:
    config_location:
        data_hub:
            write_target:
                type: "settings-store"

pimcore_data_importer:
    messenger_queue_processing:
        activated: true
        worker_count_lifetime: 60
        worker_count_parallel: 4 # Increase this to add more parallel workers
        worker_item_count: 50

pimcore:
    product_registration:
        product_key: '%env(PIMCORE_PRODUCT_KEY)%'
        instance_identifier: '%env(PIMCORE_INSTANCE_IDENTIFIER)%'
    encryption:
        secret: '%env(PIMCORE_ENCRYPTION_SECRET)%'
    security:
        password_hasher_factories:
            Pimcore\Model\DataObject\Customer: mcsupply.ecommerce.customer_password_hasher_factory

ux_map:
    renderer: '%env(resolve:UX_MAP_DSN)%'
    google_maps:
        default_map_id: '%env(GOOGLE_MAPS_MAP_ID)'

mercure:
    hubs:
        default:
            url: 'http://mercure/.well-known/mercure'
            public_url: '/hub'
            jwt:
                secret: '%env(MERCURE_JWT)%'
                publish: ['*']

turbo:
    broadcast:
        enabled: true

     # config_location:
     #    image_thumbnails:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/image-thumbnails'
     #    video_thumbnails:
     #        write_target:
     #            type: 'disabled'
     #    document_types:
     #        write_target:
     #            type: 'disabled'
     #    predefined_properties:
     #        write_target:
     #            type: 'settings-store'
     #    predefined_asset_metadata:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/predefined_asset_metadata'
     #    perspectives:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/perspectives'
     #    custom_views:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/custom_views'
     #    object_custom_layouts:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/object_custom_layouts'
     #    select_options:
     #        write_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/object_custom_layouts'
     #        read_target:
     #            type: 'symfony-config'
     #            options:
     #                directory: '/var/www/html/var/config/object_custom_layouts'

# IMPORTANT Notice!
# Following there are only some examples listed, for a full list of possible options, please run the following command:
# ./bin/console debug:config pimcore
# you can also filter them by path, eg.
# ./bin/console debug:config pimcore assets
# or even more specific:
# ./bin/console debug:config pimcore assets.image


#### TRANSLATIONS
#    translations:
#        case_insensitive: true

#### FEATURE FLAGS
#    flags:
#        zend_date: true

#### CLASS OVERRIDES EXAMPLES
#    models:
#        class_overrides:
#            'Pimcore\Model\DataObject\News': 'App\Model\DataObject\News'
#            'Pimcore\Model\DataObject\News\Listing': 'App\Model\DataObject\News\Listing'
#            'Pimcore\Model\DataObject\Folder': 'App\Model\DataObject\Folder'
#            'Pimcore\Model\Asset\Folder': 'App\Model\Asset\Folder'
#            'Pimcore\Model\Asset\Image': 'App\Model\Asset\Image'
#            'Pimcore\Model\Document\Page': 'App\Model\Document\Page'
#            'Pimcore\Model\Document\Link': 'App\Model\Document\Link'
#            'Pimcore\Model\Document\Listing': 'App\Model\Document\Listing'


#### CUSTOM DOCUMENT EDITABLES
#    documents:
#        allow_trailing_slash: 'yes'
#        generate_preview: false
#        tags:
#            map:
#                markdown: \App\Model\Document\Tag\Markdown


#### CUSTOM OBJECT DATA TYPES
#    objects:
#        class_definitions:
#            data:
#                map:
#                  myDataType: \App\Model\DataObject\Data\MyDataType


#### ASSET CUSTOM SETTINGS
#    assets:
#        icc_rgb_profile: ''
#        icc_cmyk_profile: ''
#        versions:
#            use_hardlinks: false
#        image:
#            low_quality_image_preview:
#                enabled: false
#                generator: imagick
#            thumbnails:
#                webp_auto_support: false


#### SYSTEM SETTINGS

#    general:
#        timezone: Europe/Berlin
#        path_variable: ''
#        instance_identifier: ''
#    full_page_cache:
#        enabled: false
#        lifetime: null
#        exclude_cookie: ''
#        exclude_patterns: ''
#    httpclient:
#        adapter: Socket # use 'Proxy' for custom proxy configuration
#        proxy_host: ''
#        proxy_port: ''
#        proxy_user: ''
#        proxy_pass: ''
#    email:
#        sender:
#            name: 'Pimcore Demo'
#            email: demo@pimcore.com
#        return:
#            name: ''
#            email: ''

#    applicationlog:
#        mail_notification:
#            send_log_summary: false
#            filter_priority: null
#            mail_receiver: ''
#        archive_treshold: '30'
#        archive_alternative_database: ''

#### SYMFONY OVERRIDES
framework:
    router:
        default_uri: "%env(DEFAULT_DOMAIN_NAME)%"
    profiler:
        enabled: true
    trusted_proxies: "127.0.0.1,REMOTE_ADDR"
    trusted_headers:
        [
            "x-forwarded-for",
            "x-forwarded-host",
            "x-forwarded-proto",
            "x-forwarded-port",
            "x-forwarded-prefix",
        ]

    session:
        # ...
        cookie_samesite: null
        cookie_lifetime: 86400
        gc_maxlifetime: 86400

    asset_mapper:
        paths:
            - assets/
            - vendor/symfony/stimulus-bundle/assets/
            - vendor/symfony/ux-turbo/assets/

#    WHEN RUNNING PIMCORE AND OTHER APPLICATIONS ON SAME DOMAIN, SET SESSION COOKIE NAME TO PROVIDE COLLISION
#    session:
#        name: "PIMCORE_SESSION_ID"
        
#### DEFINE LOCATION OF MANIFEST WHEN WORKING WITH SYMFONY ENCORE
#    assets:
#        json_manifest_path: '%kernel.project_dir%/public/build/manifest.json'

#### USE CUSTOM CACHE POOL
    cache:
        pools:
            pimcore.cache.pool:
                public: true
                default_lifetime: 31536000  # 1 year
                adapter: cache.adapter.redis_tag_aware
                provider: "redis://%env(REDIS_HOST)%:6379/%env(REDIS_DB)%" # Redis DNS, see: https://symfony.com/doc/current/components/cache/adapters/redis_adapter.html#configure-the-connection

#### USE SESSION HANDLER CONFIGURED IN php.ini
#    session:
#        handler_id: null

#### SYMFONY MAILER TRANSPORTS
#    mailer:
#        transports:
#            main: smtp://user:pass@smtp.example.com:port
#            pimcore_newsletter: smtp://user:pass@smtp.example.com:port

# pimcore_newsletter:
#     default_url_prefix: 'https://my-host.com' # default prefix for your static assets
#     use_specific: false # set true to use the following options for newsletter delivery
#     sender:
#         name: ''
#         email: ''
#     return:
#         name: ''
#         email: ''

