{% extends 'layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block content %}
    <main>
        <twig:PartFinder />

        <turbo-frame id="category-frame" data-turbo-action="advance" autoscroll data-autoscroll-block="start" data-autoscroll-behavior="smooth">
            <div class="bg-white border-b border-gray-200">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
                    <twig:Navigation:Breadcrumb />
                </div>
            </div>

            <twig:Grid
                :items="categories.pagination.items"
                :pagination="categories.pagination"
                title="Shop By Category"
            />
        </turbo-frame>
    </main>
{% endblock %}
