{% extends 'default/left-column.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block left_column %}
    <twig:Category:FilterBox actionPath="{{ app.request.pathinfo }}" turboFrame="category-frame" />
{% endblock %}

{% block main_body %}
{#    <twig:PartFinder />#}

    <twig:Grid
        :items="categories.pagination.items"
    />

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <twig:Navigation:PaginationControls
            :pagination="categories.pagination"
            :limit="app.request.query.get('limit', 10)"
        />
    </div>

{% endblock %}
