<div
    {{ attributes.defaults({
        class: inline
            ? 'availability-target-' ~ productId ~ '_' ~ uom ~ ' availability-inline min-w-0 max-w-full flex flex-col gap-1 self-center text-[11px] leading-4 overflow-hidden [&_.availability-summary]:justify-start [&_.availability-summary]:grid [&_.availability-summary]:grid-cols-[auto_minmax(0,1fr)] [&_.availability-summary]:items-center [&_.availability-summary]:gap-1 [&_.availability-summary]:text-[12px] [&_.availability-summary]:whitespace-nowrap [&_.availability-label]:shrink-0 [&_.availability-value]:min-w-0 [&_.availability-value]:overflow-hidden [&_.availability-value]:whitespace-nowrap [&_.availability-value]:text-ellipsis'
            : 'availability-target-' ~ productId ~ '_' ~ uom ~ ' space-y-3 border-y border-gray-200 py-4'
    }) }}
    data-availability-loader-target="availability"
    data-id="{{ productId }}_{{ uom }}">
</div>
