{% if links is defined %}
<a
    href="{{ links.path }}"
    class="{{ links.class }}"
    target="{{ links.target }}"
>
{% endif %}

{% block component %}{% endblock %}

{% if links is defined %}
</a>
{% endif %}