<turbo-frame
    id="branch-data-frame"
    data-controller="refresh"
    data-action="branch-updated@window->refresh#reload">
    <a class="branch-dropdown" id="branch-dropdown" href="/locations" data-turbo-frame="_top">
        <div class="branch-info" id="branch-info">
            <img src="{{ asset('images/misc/location-icon.png') }}" alt="Location" class="location-icon" />
            <span class="branch-text" id="branch-status">You're shopping at<br><strong>{{ branch.name }}</strong></span>
        </div>
    </a>
</turbo-frame>