<turbo-frame id="cart-data-frame">
    <div class="bag-info">
        <span class="bag-count">
            {% if cartData %}
                {% set itemCount = cartData.items|length %}
                {{ itemCount == 1 ? '1 item' : itemCount ~ ' items' }}
            {% else %}
                0 items
            {% endif %}
        </span>
        <span class="bag-total">
            {% if cartData and cartData.subTotal %}
                ${{ cartData.subTotal|number_format(2, '.', ',') }}
            {% else %}
                $0.00
            {% endif %}
        </span>
    </div>
</turbo-frame>