name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ci__${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Build Docker images
    uses: TorqIT/pimcore-github-actions-workflows/.github/workflows/ci-docker.yml@v7
    permissions:
      contents: read
      actions: read
    secrets:
      BUILD_TIME_SECRETS: >
        {
          "pimcore-product-key": "${{ secrets.PIMCORE_PRODUCT_KEY }}",
          "pimcore-instance-identifier": "${{ secrets.PIMCORE_INSTANCE_IDENTIFIER }}",
          "pimcore-encryption-secret": "${{ secrets.PIMCORE_ENCRYPTION_SECRET }}"
        }
